<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">{{ "heating.title" | translate }}</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/services-heating.jpg"
      alt="heating instalation"
    />
    <img
      class="image2"
      src="assets/img/services-heating.jpg"
      alt="heating instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "heating.name" | translate }}</span>
      {{ "heating.one" | translate }}
    </p>
    <p class="marginb">
      {{ "heating.two" | translate }}
    </p>
    <p class="marginb">
      {{ "heating.three" | translate }}
    </p>
    <p class="marginb">
      {{ "heating.four" | translate }}
    </p>
  </div>
</div>
