<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">INSTAL·LACIONS ELÈCTRIQUES</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/electrical-instalation2.jpg"
      alt="electrical instalation"
    />
    <img
      class="image2"
      src="assets/img/electrical-instalation1.jpg"
      alt="electrical instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span>, som experts en
      la realització d'instal·lacions elèctriques de primera qualitat a Sitges i
      la comarca del Garraf. La nostra dedicació es centra a proporcionar als
      nostres clients un subministrament elèctric segur i eficient per a les
      seves llars i empreses.
    </p>
    <p class="marginb">
      El nostre equip de tècnics altament qualificats té l'experiència
      necessària per gestionar projectes d'instal·lacions elèctriques de tot
      tipus, des de petits canvis i reparacions fins a instal·lacions completes
      en noves construccions. Treballem amb cura i atenció als detalls per
      garantir que tots els components elèctrics funcionin correctament i
      compleixin amb les normatives de seguretat.
    </p>
    <p class="marginb">
      Quan confieu en els nostres serveis d'instal·lacions elèctriques, podeu
      estar segurs que esteu protegint la vostra llar o empresa contra riscos
      elèctrics i assegurant un funcionament sense problemes dels vostres equips
      i sistemes elèctrics. Poseu-vos en contacte amb nosaltres avui mateix per
      obtenir un pressupost personalitzat i garantiu la vostra tranquil·litat
      elèctrica. Estem aquí per fer que la vostra instal·lació sigui segura i
      fiable.
    </p>
  </div>
</div>
