<section id="services" class="marginb">
  <h2 class="centred-text marginb">{{ "services.services" | translate }}</h2>
  <p class="centred-text marginb">{{ "services.subtitle" | translate }}</p>
  <div class="services-cards">
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-solarPanel.jpg'"
      (click)="goTo('solar-panels')"
    >
      <h3>{{ "services.one" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-electrical.jpg'"
      (click)="goTo('electrical')"
    >
      <h3>{{ "services.two" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-plumbing.jpg'"
      (click)="goTo('plumbing')"
    >
      <h3>{{ "services.three" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-reforms.jpg'"
      (click)="goTo('reforms')"
    >
      <h3>{{ "services.four" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-gas.jpg'"
      (click)="goTo('gas')"
    >
      <h3>{{ "services.five" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-heating.jpg'"
      (click)="goTo('heating')"
    >
      <h3>{{ "services.six" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-airConditioning.jpg'"
      (click)="goTo('air-conditioning')"
    >
      <h3>{{ "services.seven" | translate }}</h3>
    </app-service-card>
    <app-service-card
      class="services-card"
      [backgroundImage]="'/assets/img/services-repairs.jpg'"
      (click)="goTo('repairs')"
    >
      <h3>{{ "services.eight" | translate }}</h3>
    </app-service-card>
  </div>
</section>
