<section id="aboutUs">
  <h2 class="centred-text marginb margint">Sobre Nosaltres</h2>
  <div class="about-us-container">
    <div class="about-us-image marginb"></div>
    <div class="about-us-text">
      <p>
        Benvinguts a <span class="textBlue bold">Sitges Instal·lacions.</span>
      </p>
      <p>
        Som una empresa dedicada a tota mena d’instal·lacions. Com bé indica el
        nom, disposem d’oficina física a Sitges, i focalitzem la nostra
        activitat a la Comarca del Garraf, encara que atenem els nostres clients
        on ens sol·licitin.
      </p>
      <p>
        A la pàgina web, podreu trobar tots els serveis de què disposem, per
        donar-vos un servei de qualitat i amb total garantia.
      </p>
      <p>
        Per nosaltres,
        <span class="textBlue bold"
          >la satisfacció dels nostres clients és el més important</span
        >, és per això que oferim un tracte proper i de confiança, cuidant fins
        a l’últim detall a cada projecte.
      </p>
      <p>
        Us animem a contactar-nos, i poder així assessorar-vos i començar a
        treballar amb el que necessiteu.
      </p>
    </div>
  </div>
  <a class="custom-link marginb" href="tel:123456789">TRUCA</a>
</section>
