<section id="aboutUs">
  <h2 class="centred-text marginb margint">
    {{ "aboutUs.about" | translate }}
  </h2>
  <div class="about-us-container">
    <div class="about-us-image marginb"></div>
    <div class="about-us-text">
      <p>
        {{ "aboutUs.welcome" | translate }}
        <span class="textBlue bold">{{ "aboutUs.name" | translate }}</span>
      </p>
      <p>
        {{ "aboutUs.first" | translate }}
      </p>
      <p>
        {{ "aboutUs.second" | translate }}
      </p>
      <p>
        {{ "aboutUs.third" | translate }}
        <span class="textBlue bold">{{ "aboutUs.span" | translate }}</span
        >{{ "aboutUs.fourth" | translate }}
      </p>
      <p>
        {{ "aboutUs.fifth" | translate }}
      </p>
    </div>
  </div>
  <a class="custom-link marginb" href="tel:686458360">{{
    "aboutUs.call" | translate
  }}</a>
</section>
