<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">INSTAL·LACIÓ DE PLAQUES SOLARS</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img class="image1" src="assets/img/panel4.jpg" alt="solar panel image" />
    <img class="image2" src="assets/img/panel6.jpeg" alt="solar panel image" />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span>, estem
      compromesos a oferir als nostres clients un servei d'alta qualitat que no
      només els permeti estalviar en les seves factures d'energia, sinó que
      també contribueixi a la preservació del medi ambient.
    </p>
    <p class="marginb">
      Els nostres tècnics altament capacitats estan a la vostra disposició per
      proporcionar assessorament personalitzat i dur a terme la instal·lació de
      plaques solars que s'adaptin de la millor manera possible a la vostra llar
      o negoci. Ens preocupem pel benestar dels nostres treballadors, i tots els
      projectes es realitzen seguint rigorosament els estàndards, garantint un
      entorn de treball fiable i protegit.
    </p>
    <p class="marginb">
      En triar-nos, no només esteu invertint en una font d'energia més neta i
      sostenible, sinó que també esteu invertint en el benestar de la vostra
      comunitat i en un futur més sa per a tots. Poseu-vos en contacte amb
      nosaltres avui mateix per sol·licitar el vostre pressupost sense compromís
      per a la instal·lació de plaques solars a Sitges i a tot el Garraf. Estem
      aquí per ajudar-vos a donar el pas cap a un demà més brillant i més
      ecològic.
    </p>
  </div>
</div>
