<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">
  {{ "solarPanels.title" | translate }}
</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img class="image1" src="assets/img/panel4.jpg" alt="solar panel image" />
    <img class="image2" src="assets/img/panel6.jpeg" alt="solar panel image" />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "solarPanels.name" | translate }}</span
      >{{ "solarPanels.one" | translate }}
    </p>
    <p class="marginb">
      {{ "solarPanels.two" | translate }}
    </p>
    <p class="marginb">
      {{ "solarPanels.three" | translate }}
    </p>
    <p class="marginb">
      {{ "solarPanels.four" | translate }}
    </p>
  </div>
</div>
