<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">INSTAL·LACIÓ D'AIRE ACONDICIONAT</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/services-airConditioning.jpg"
      alt="air conditioning instalation"
    />
    <img
      class="image2"
      src="assets/img/air-conditioning.jpg"
      alt="air conditioning instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span>, la nostra
      missió és proporcionar als nostres clients solucions de climatització
      excepcionals que garanteixin la comoditat i l'eficiència energètica a les
      seves llars i empreses. Amb anys d'experiència en el sector, el nostre
      equip de tècnics qualificats està compromès a oferir els millors serveis
      d'instal·lació d'aires acondicionats a Sitges i la regió del Garraf.
    </p>
    <p class="marginb">
      Entenem la importància de mantenir un ambient interior agradable durant
      les estacions càlides i fredes, i és per això que oferim assessorament
      personalitzat per assegurar-nos que trieu la millor opció d'aire
      acondicionat per a les vostres necessitats específiques. La nostra
      instal·lació és precisa i minuciosa, i seguim estrictament els estàndards
      de qualitat per garantir un rendiment òptim.
    </p>
    <p class="marginb">
      Quan trieu els nostres serveis d'instal·lació d'aires acondicionats, no
      només esteu assegurant un ambient més confortable i agradable, sinó que
      també esteu fent una inversió en estalvi energètic i reducció de costos.
      Poseu-vos en contacte amb nosaltres avui mateix per obtenir un pressupost
      sense compromís i comenceu a gaudir d'una climatització de primera classe
      a la vostra llar o empresa. Estem aquí per fer del vostre entorn un lloc
      més agradable i eficient.
    </p>
  </div>
</div>
