<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">
  {{ "airConditioning.title" | translate }}
</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/services-airConditioning.jpg"
      alt="air conditioning instalation"
    />
    <img
      class="image2"
      src="assets/img/air-conditioning.jpg"
      alt="air conditioning instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "airConditioning.name" | translate }}</span
      >{{ "airConditioning.one" | translate }}
    </p>
    <p class="marginb">
      {{ "airConditioning.two" | translate }}
    </p>
    <p class="marginb">
      {{ "airConditioning.three" | translate }}
    </p>
    <p class="marginb">
      {{ "airConditioning.four" | translate }}
    </p>
  </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
