<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">INSTAL·LACIONS D'AIGUA</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/plumbing1.jpg"
      alt="plumbing instalation"
    />
    <img
      class="image2"
      src="assets/img/plumbing2.jpg"
      alt="plumbing instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span>, estem dedicats
      a oferir serveis de fontaneria fiables i de qualitat a Sitges i les zones
      adjacents. Sabem que una xarxa de fontaneria eficient és crucial per a la
      comoditat i el funcionament correcte de les vostres llars i negocis.
    </p>
    <p class="marginb">
      Els nostres tècnics de fontaneria estan altament qualificats i equipats
      per gestionar tot tipus de treballs de fontaneria, des de petites
      reparacions fins a instal·lacions complexes. Ens assegurem de seguir les
      normatives i els estàndards més alts per garantir la seguretat i la
      fiabilitat de les vostres instal·lacions de fontaneria.
    </p>
    <p class="marginb">
      Ja sigui que necessiteu solucionar problemes com goteres, fugues o
      avaries, o si esteu planejant una renovació completa del sistema de
      fontaneria, estem aquí per ajudar-vos a resoldre els vostres problemes.
      Proporcionem pressupostos personalitzats sense compromís i treballem amb
      rapidesa i eficàcia per assegurar-nos que tot funcioni correctament.
    </p>
    <p>
      Confieu en els nostres serveis de fontaneria per mantenir la vostra aigua
      fluint de manera segura i sense problemes. Poseu-vos en contacte amb
      nosaltres avui mateix i deixeu que els nostres experts en fontaneria es
      facin càrrec de les vostres necessitats. Estem aquí per assegurar-vos que
      tot estigui en perfecte estat a casa vostra o al vostre negoci.
    </p>
  </div>
</div>
