<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">{{ "gas.title" | translate }}</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/services-gas.jpg"
      alt="gas instalation"
    />
    <img
      class="image2"
      src="assets/img/services-gas.jpg"
      alt="gas instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "gas.name" | translate }}</span
      >{{ "gas.one" | translate }}
    </p>
    <p class="marginb">
      {{ "gas.second" | translate }}
    </p>
    <p class="marginb">
      {{ "gas.three" | translate }}
    </p>
    <p class="marginb">
      {{ "gas.four" | translate }}
    </p>
  </div>
</div>
