<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">INSTAL·LACIÓ DE GAS</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/services-gas.jpg"
      alt="gas instalation"
    />
    <img
      class="image2"
      src="assets/img/services-gas.jpg"
      alt="gas instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span>, ens dediquem a
      oferir serveis d'instal·lacions de gas de confiança a Sitges i tota la
      regió del Garraf. Com a especialistes en aquest camp, tenim com a
      prioritat garantir que les vostres instal·lacions de gas siguin segures,
      eficients i còmodes.
    </p>
    <p class="marginb">
      Els nostres tècnics qualificats i experimentats estan preparats per
      gestionar tots els aspectes de la vostra instal·lació de gas, ja sigui per
      a ús domèstic o comercial. Des de la instal·lació de noves xarxes de gas
      fins a la reparació i el manteniment de les existents, podeu confiar en la
      nostra experiència i coneixement.
    </p>
    <p class="marginb">
      Entenem la importància de la seguretat quan es tracta de gas, i seguim
      rigorosament totes les normatives i reglamentacions per garantir que la
      vostra instal·lació sigui totalment segura i funcioni sense problemes.
      Poseu-vos en contacte amb nosaltres avui mateix per rebre un pressupost
      personalitzat sense compromís i gaudiu de la tranquilitat de tenir una
      instal·lació de gas fiable i eficient a casa vostra o al vostre negoci.
      Estem aquí per atendre totes les vostres necessitats de gas amb
      professionalitat i dedicació.
    </p>
  </div>
</div>
