.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  height: 70px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

.navbar-mobile {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 2;
  align-items: center;
  padding-bottom: 20px;
}

.navbar-links.active li {
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width: 799px) {
  .navbar-links {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
}
