<section id="ourWork" class="marginb our-work">
  <h2 class="centred-text marginb text-white">
    {{ "ourWork.title" | translate }}
  </h2>
  <p class="centred-text marginb">{{ "ourWork.subtitle" | translate }}</p>
  <div class="carousel-container">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="img" class="img-style marginb" />
      </div>
    </ngx-slick-carousel>
  </div>
</section>
