<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">{{ "plumbing.title" | translate }}</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/plumbing1.jpg"
      alt="plumbing instalation"
    />
    <img
      class="image2"
      src="assets/img/plumbing2.jpg"
      alt="plumbing instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "plumbing.name" | translate }}</span
      >{{ "plumbing.one" | translate }}
    </p>
    <p class="marginb">
      {{ "plumbing.two" | translate }}
    </p>
    <p class="marginb">
      {{ "plumbing.three" | translate }}
    </p>
    <p class="marginb">
      {{ "plumbing.four" | translate }}
    </p>
    <p class="marginb">
      {{ "plumbing.five" | translate }}
    </p>
  </div>
</div>
