<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">INSTAL·LACIÓ DE CALEFACCIÓ</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/services-heating.jpg"
      alt="heating instalation"
    />
    <img
      class="image2"
      src="assets/img/services-heating.jpg"
      alt="heating instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span> ens dediquem a
      proporcionar solucions de calefacció de primer nivell a Sitges i la
      comarca del Garraf. Entenem que mantenir un ambient càlid i acollidor és
      fonamental per al vostre confort, especialment durant els mesos d'hivern.
    </p>
    <p class="marginb">
      Els nostres tècnics experts estan preparats per ajudar-vos a triar i
      instal·lar el sistema de calefacció que millor s'ajusti a les vostres
      necessitats i preferències. Ja sigui una caldera, radiadors, calefacció
      per terra radiant o altres sistemes, estem aquí per assegurar-nos que
      tingueu una solució eficient i econòmica.
    </p>
    <p class="marginb">
      La nostra dedicació a la qualitat i la satisfacció del client ens porta a
      realitzar les instal·lacions de calefacció de manera precisa i amb atenció
      als detalls. La vostra comoditat és la nostra prioritat, i ens assegurem
      que tot funcioni correctament i de manera segura.
    </p>
    <p class="marginb">
      Poseu-vos en contacte amb nosaltres avui mateix per obtenir un pressupost
      personalitzat per la vostra instal·lació de calefacció. Amb els nostres
      serveis, podeu estar segurs que us mantindreu càlids i còmodes durant tot
      l'hivern. Estem aquí per fer de la vostra llar o empresa un lloc més
      agradable i acollidor.
    </p>
  </div>
</div>
