.image1{
  width: 100%;
  max-width: 100%;
}
.image2{
  display: none;
}
.panels-text{
  margin: 0 15px;
}
@media screen and (min-width:1000px) {
.image1{
  display: none;
}
.image2{
  display: block;
  height: 400px;
  margin: 15px 60px 0 40px;

}
.panels-section{
  display: flex;
}
.panels-text{
  margin-right: 80px;
}
}
