<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">
  {{ "electrical.title" | translate }}
</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img
      class="image1"
      src="assets/img/electrical-instalation2.jpg"
      alt="electrical instalation"
    />
    <img
      class="image2"
      src="assets/img/electrical-instalation1.jpg"
      alt="electrical instalation"
    />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "electrical.name" | translate }}</span
      >{{ "electrical.one" | translate }}
    </p>
    <p class="marginb">
      {{ "electrical.two" | translate }}
    </p>
    <p class="marginb">
      {{ "electrical.three" | translate }}
    </p>
    <p class="marginb">
      {{ "electrical.four" | translate }}
    </p>
  </div>
</div>
