<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">REFORMAS</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img class="image1" src="assets/img/reforms1.jpg" alt="reforms image" />
    <img class="image2" src="assets/img/reforms1.jpg" alt="reforms image" />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">A Sitges Instal·lacions</span>, no només estem
      especialitzats en serveis d'instal·lació, sinó que també oferim serveis de
      reforma de primera classe per a les vostres llars i empreses a Sitges i la
      comarca del Garraf. Les reformes poden transformar els vostres espais i
      millorar la funcionalitat i l'estètica de les vostres instal·lacions.
    </p>
    <p class="marginb">
      El nostre equip de professionals en reformes està preparat per gestionar
      una àmplia gamma de projectes, des de reformes de cuines i banys fins a
      renovacions completes de vivendes i locals comercials. Treballem en
      estreta col·laboració amb vosaltres per entendre les vostres necessitats i
      preferències, i després portem a terme les reformes amb precisió i atenció
      als detalls.
    </p>
    <p class="marginb">
      Ja sigui que estigueu buscant modernitzar una part de la vostra llar,
      millorar l'eficiència energètica o adaptar un espai per a un propòsit
      específic, estem aquí per fer realitat les vostres idees. Garantim que les
      nostres reformes es compleixin dins dels terminis i pressupostos
      establerts, assegurant-vos que el resultat final sigui una instal·lació
      renovada i millorada.
    </p>
    <p>
      Poseu-vos en contacte amb nosaltres avui mateix per parlar de les vostres
      necessitats de reforma i obtenir un pressupost personalitzat. Estem aquí
      per ajudar-vos a transformar els vostres espais en espais que us facin
      sentir còmodes i satisfets. La vostra satisfacció és la nostra prioritat.
    </p>
  </div>
</div>
