<app-nav-bar-services></app-nav-bar-services>

<h1 class="centred-text margint marginb">{{ "reforms.title" | translate }}</h1>
<div class="panels-section">
  <div class="img-services-page">
    <img class="image1" src="assets/img/reforms1.jpg" alt="reforms image" />
    <img class="image2" src="assets/img/reforms1.jpg" alt="reforms image" />
  </div>
  <div class="panels-text">
    <p class="marginb margint">
      <span class="textBlue bold">{{ "reforms.name" | translate }}</span
      >{{ "reforms.one" | translate }}
    </p>
    <p class="marginb">
      {{ "reforms.two" | translate }}
    </p>
    <p class="marginb">
      {{ "reforms.three" | translate }}
    </p>
    <p>
      {{ "reforms.four" | translate }}
    </p>
  </div>
</div>
