.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  height: 70px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
}

.navbar-mobile {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.navbar-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 2;
  align-items: center;
  padding-bottom: 20px;
}

.navbar-links.active li {
  padding: 10px 20px;
  text-align: center;
}

/*  flags */
.language-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.flag {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.arrow {
  font-size: 20px;
}

.options {
  list-style: none;
  padding:15px 10px;
  margin: 0;
  position: absolute;
  top: 55px;
  right:25px;
  background-color: #333;
  border: 1px solid #ccc;
  z-index: 999;
}

.options li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.options img {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.options img:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 799px) {
  .navbar-links {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
  .options{
    top: 210px;
    right:calc(50% - 40px);
  }
}
