<nav class="navbar">
  <div class="navbar-logo">Sitges Instal·lacions</div>
  <ul class="navbar-links" [class.active]="isMobileMenuOpen">
    <li><a (click)="scrollToSection('aboutUs')">Nosaltres</a></li>
    <li><a (click)="scrollToSection('services')">Serveis</a></li>
    <li><a (click)="scrollToSection('contact')">Contacte</a></li>
    <div class="language-selector" (click)="toggleOptions()">
      <img [src]="selectedFlag" alt="Flag" class="flag" />
      <span class="arrow">▼</span>
      <ul class="options" *ngIf="optionsOpen">
        <li (click)="selectLanguage('ca')">
          <img src="assets/img/cat.png" alt="Catalan Flag" />
        </li>
        <li (click)="selectLanguage('es')">
          <img src="assets/img/esp.jpg" alt="Spanish Flag" />
        </li>
        <li (click)="selectLanguage('en')">
          <img src="assets/img/eng.png" alt="English Flag" />
        </li>
      </ul>
    </div>
  </ul>
  <div class="navbar-mobile" (click)="toggleMobileMenu()">☰</div>
</nav>
