.contact-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-card{
  background-color: #6585B0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 5px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
input, textarea{
  margin: 10px 15px;
  padding: 5px;
  border: none;
}
.send-email{
  border: none;
  color: #6585B0;
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
  width: auto;
  margin: 10px auto;
  padding: 5px 15px;
  cursor: pointer	;
}
.send-email:hover{
  transform: scale(1.1);
}
.map-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map{
  width: 350px;
  height: 350px;
}
@media screen and (min-width:799px){
  .contact-display{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   justify-items: center;
   align-items: start;
  }
  input, textarea{
      margin: 15px 15px;
      padding: 15px;
  }
  textarea{
    padding: 8px 8px 70px 8px;
  }
  .contact-card{
    width: 60%;
    padding: 30px 0;
    margin-top: 90px;
  }
  .map{
    width: 500px;
    height: 570px;
  }
}
