<section id="contact" class="margint contact-section">
  <h2 class="centred-text marginb">{{ "contact.title" | translate }}</h2>
  <div class="contact-display">
    <div class="contact-card">
      <h3 class="margint">{{ "contact.subtitle" | translate }}</h3>
      <form ngNoForm [action]="url" method="POST" class="contact-form">
        <input
          type="text"
          [placeholder]="'contact.nameForm' | translate"
          name="Name"
        />
        <input
          type="text"
          [placeholder]="'contact.phoneNumber' | translate"
          name="Phone"
        />
        <input
          type="email"
          [placeholder]="'contact.email' | translate"
          name="Email"
        />
        <textarea
          name="text"
          cols="15"
          rows="5"
          [placeholder]="'contact.message' | translate"
        ></textarea>
        <input class="send-email" type="submit" value="Enviar" />
        <input type="hidden" name="_next" value="http://sitgesinstal.com" />
        <input type="hidden" name="_captcha" value="false" />
      </form>
    </div>
    <div class="map-info">
      <h4 class="margint">{{ "contact.name" | translate }}</h4>
      <p class="marginb margint">{{ "contact.find" | translate }}</p>
      <div
        class="elfsight-app-1cff268d-9a25-43af-9e61-6940ff41fe2f map marginb"
        data-elfsight-app-lazy
      ></div>
      <div>
        <div class="buttonContainer">
          <button
            class="margint redirectButton"
            (click)="redirectToGoogleMaps()"
          >
            {{ "contact.openMap" | translate }}
          </button>
        </div>
        <div class="contact-information">
          <aside class="margint">{{ "contact.adress" | translate }}</aside>
          <aside>info@sitgesinstal.com</aside>
          <aside>{{ "contact.phone" | translate }}</aside>
        </div>
      </div>
    </div>
  </div>
</section>
